#breadCrumbs {
	list-style-type: none;
	text-transform: capitalize;
}
#breadCrumbs > li {
	display: inline;
}
#breadCrumbs > li:has(+li)::after {
	content: "→";
}
#breadCrumbs li:first-child {
	text-transform: uppercase;
}
